.row
  .col-md-3
    label.control-label &nbsp;این قسمت توسط استاد تکمیل گردد:
.col-md-12.well
  .row
    .col-md-2
      .form-group
        label(for='farzand')نام پدر  
        input.form-control(type='text', id='farzand', ng-model='data.farzand', ng-required='#{user.isGuest}')
    .col-md-2
      .form-group
        label(for='madrak')مدرک تحصيلي
        input.form-control(type='text', id='madrak', ng-model='data.madrak', ng-required='#{user.isGuest}')
    .col-md-4
      .form-group
        label(for='address')نشاني  
        input.form-control(type='text', id='address', ng-model='data.address', ng-required='#{user.isGuest}')
    .col-md-2
      .form-group
        label(for='tel')تلفن 
        input.form-control(type='text', pattern='[0-9]+', id='tel', ng-model='data.tel', ng-required='#{user.isGuest}', placeholder='تنها عدد قابل قبول است')
  .row
    .col-md-2
      b نام دوره هاي آموزشي:
    .col-md-10
      .form-group
        .col-md-5
            input.form-control(type='text', id='c1', ng-model='data.courseA', placeholder='عنوان 1', ng-required='#{user.isGuest}')
        .col-md-5
            input.form-control(type='text', id='c2', ng-model='data.courseB', placeholder='عنوان 2')        
      .form-group
        .col-md-5
            input.form-control(type='text', id='c3', ng-model='data.courseC', placeholder='عنوان 3')
        .col-md-5
            input.form-control(type='text', id='c4', ng-model='data.courseD', placeholder='عنوان 4')
  .row
    .col-md-2
      .form-group
        label(for='branch')شعبه بانک
        input.form-control(type='text', id='branch', ng-model='dta.branch', ng-required='#{user.isGuest}')
    .col-md-3
      .form-group
        label(for='account')شماره حساب بانکی
        input.form-control(type='text', pattern='[0-9]+', id='account', ng-model='data.account', ng-required='#{user.isGuest}', placeholder='تنها عدد قابل قبول است')