doctype html
include head.jade
  title  سیستم خدمات مکانیزه شرکت ره آوران
  body(ng-app='dashboardApp', ng-controller='navbarCont', ng-cloak)
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          .button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
            .span.icon-bar
            .span.icon-bar
            .span.icon-bar
          a.navbar-brand.hidden-sm.hidden-xs(ng-click='requesttype=false', href='/')
            span.glyphicon.glyphicon-home
            |  سامانه خدمات مکانیزه
        .navbar-collapse.collapse.text-center(id="myNavbar")
          if !(user)
            form.navbar-form.navbar-left(role='form', action='/login', method='post')
              .form-group-sm
                .label.label-warning(style='margin-left:5px') #{message}
                input.form-control(type='text', name='username', placeholder='نام کاربری')
                input.form-control(type='password', name='password', placeholder='کلمه عبور')
                button.btn.btn-success(type='submit') ورود 
                    span.glyphicon.glyphicon-log-in
          else
            if (user.name)
              div(ng-init='currentUserFullName=\'#{user.name} #{user.family}\'; isOwner=#{user.isOwner}')
            else
              div(ng-init='currentUserFullName=\'#{user.melicode}\'; isOwner=#{user.isOwner}')           
            if (user.isItUser || user.isKarshenas || user.isGuest || user.isTeacher) 
              include topnav.jade
            include config.jade
    include jumbotron.jade
    if (user)
      include dashboard.jade
      if (user.isMaliUser)
        .embed-responsive.embed-responsive-16by9(ng-show='requesttype==="statement"')
          iframe.embed-responsive-item(ng-src='{{pdfcontent}}')
      if (user.isItAdmin || user.isSysAdmin)
        include modals/uploadDataBase.jade
      include modals/accountsManegement.jade
    else
      include intro.jade
    include foot.jade
